
@-webkit-keyframes rotate{
from{-webkit-transform:rotate(0deg)}
to{-webkit-transform:rotate(360deg)}
}
@-moz-keyframes rotate{
from{-moz-transform:rotate(0deg)}
to{-moz-transform:rotate(360deg)}
}
@-ms-keyframes rotate{
from{-ms-transform:rotate(0deg)}
to{-ms-transform:rotate(360deg)}
}
@-o-keyframes rotate{
from{-o-transform:rotate(0deg)}
to{-o-transform:rotate(360deg)}
}
@font-face{
	font-family:ch;
	src:url(fonts/SourceHanSansCN-Light.otf);
}
@font-face{
	font-family:ch-normal;
	src:url(fonts/SourceHanSansCN-Normal.otf);
}
#album {	
  width:20rem;
  height:20rem;
  position:absolute;
  margin-left:3rem;
  margin-top:2rem;
  background-size:100%;
  background-image: url(resource/album.png);
  background-repeat: no-repeat;
  animation: 9.5s linear 0s normal none infinite rotate;
  -webkit-animation:9.5s linear 0s normal none infinite rotate;
  animation-play-state:paused;
  -webkit-animation-play-state:paused;
}

#controll_buttons{

}
#current_music_container {
  position:relative;
  top:23rem;
  left:3.5rem;
  width:20rem;
}
#current_music {
  font-size: 1.5rem;
  text-align:center;
}
#order_mode {
  margin-left:3rem;
}
#search_bar {

  margin-left:3rem;
  width: 20rem;
  margin-top:-30rem;
}
#music_list{
  height:30rem;
  margin-top: -2rem;
  margin-left: 30rem;
}

#slider_container{
  width:19rem;
  float:left;
}
#current_time{

  float:left;
}
#controll_bar{
	width:25rem;
	margin-top:25rem;
	margin-left:1.5rem;
}
#button_container{
	overflow:hidden;
	width:28rem;
	height:4.6rem;
}
#lrc_container{
	margin-top: -30rem;
	margin-left: 55rem;
	width:40rem;
}
.high_light_lrc{
	color:#03A9F4;
	text-align:center;
	list-style-type:none;
	padding:1rem;
}
.text{
	font-family:"ch",Arial;
}
.text_normal{
	font-family:"ch_normal",Arial;

}
.p{
	font-family:"ch",Arial;
	font-size:3rem;
}
.lrc_row{
	
	font-family:"ch",Arial;
	text-align:center;
	list-style-type:none;
	padding:1rem;
}
.controll_button{
	float:left;
	width:3rem;
	height:4.6rem;
	background-size:60%;
	background-repeat:no-repeat;
	background-position:center;
}
#previous_button{
	background-image:url(resource/previous.png);
}
#play_button_play{
	background-image:url(resource/play.png);
}
#play_button_pause{
	background-image:url(resource/pause.png);
}
#next_button{
	background-image:url(resource/next.png);
}
#play_mode_button_repeat{
	background-image:url(resource/repeat.png);
}
#play_mode_button_repeat_one{
	background-image:url(resource/repeat_one.png);
}
#play_mode_button_random{
	background-image:url(resource/shuffle.png);
}
#volume_down_buton{
	background-image:url(resource/volume_down.png);
}
#volume_up_button{
	background-image:url(resource/volume_up.png);
}
#end_time{

  
}